.footer {
	display: block;
	background-color: #E7ECFF;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5%;
}

.year {
	color: #939EA4;
	font-size: 0.875em;
	font-weight: 500;
}

.line-img {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.footer__iot-edition {
	margin: 0 auto;
	display: block; 
}

.footer__iot-edition:hover {
  background-color: #E7ECFF; 
  color: #111B47; 
	border: 2px solid #111B47;
}

.footer__nav {
	width: 240px;
	margin: 0 auto;
	text-align: center;
}

.footer__nav ul {
	display: flex;
	text-align: center; 
}

.footer__nav ul li {
	color: #929ECC;
	padding-right: 40px;
	width: 20px;
}

.footer_icons {
	display: flex;
  justify-content: center;
	padding-bottom: 5%;
}

.footer_icons a:not(:last-child) {
	display: block;
	padding-right: 3%;
}

@media screen and (min-width: 2550px) {
	.footer__nav {
		width: 500px;
		margin: 0 auto;
		text-align: center;
		justify-content: center;
	}
	
	.footer__nav ul {
		display: flex;
		text-align: center; 
	}
	
	.footer__nav ul li {
		padding-right: 80px;
		width: 40px;
	}
  
	.footer_icons img{
		width: 200%;
	}
}	
